head, ul, .my00 {
    background-color: lightslategray;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
head, ul :hover{
  background-color: gold;
  color: green;

}




.head, ul, li {
    padding: 0 35px;
    margin: 20px 0;
    list-style-type: none;
} 


.head, ul, li, a {
    color: white;
    text-decoration: none;
} 

#myimage {
    width: 100%;
    height: 40vh;
    
}
h4{
 


}
.Welcome {
    width: 50%;
    text-align: center;
    justify-content: center;
    
}
.enter, ul, li{
  

}
.real {
   text-align: center;
   text-decoration: underline;
   background-color: lightslategray;
   color: white;
   padding: 40px 0;
   text-shadow:  0 0 8px #FF0000;


}

.column1 {
    width: 50%;
    text-align: center;
}

section {
    text-align: center;
    background-color: red;
    color: white;
}

.table {
    margin: 0 40%;
}

footer {
    display: flex;
}

.column2 {
    width: 33%;
}

.column2, h2 {
    text-align: center;
}

.column2, .footer_list, li {
    display: list-item;
}

container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.nice {
  text-align: center;  
}